html {overflow:scroll;
	overflow-y:scroll;}

a {color:#00008b;
	font-weight:bold;
	text-decoration:none;}
a:hover {text-decoration:underline;}
a img {border:none;}

img.right {float:right;
	margin-left:15px;
	margin-bottom:15px;
	border-width:1px;
	border-style:solid;
	border-color:#808080;}
img.links {float:right;
	border:none;}

body {font-family:Verdana;
	width:950px;
	font-size:12px;
	background-color:#ffffff;
	margin-left:auto;
	margin-right:auto;}

#top {width:950px;
	height:100px;
	clear:both;
	background-color:#ffffff;}
.topborder {width:950px;
	height:1px;
	clear:both;
	background-color:#ffffff;}
#navigation {width:950px;
	clear:both;
	background-color:#ffffff;
	text-align:left;}
#navigation a {text-decoration:none;}
#navigation a:hover {text-decoration:none;}
.nav {font-family:Calibri;
	font-size:17px;
	font-weight:bold;
	color:#00008b;
	margin-left:10px;}
.navline {color:#a3b9e9;
	font-weight:bold;
	padding:0 5px 0 5px;}

#footer {width:950px;
	clear:both;
	text-align:left;
	background-color:#ffffff;}
.footerblank {width:950px;
	height:1px;
	clear:both;
	background-color:#222222;}
.foot {font-family:Arial;
	font-size:11px;
	text-align:left;}
.foot a {text-decoration:none;
	font-weight:normal;}
.foot a:hover {text-decoration:underline;}
.footright {font-family:Arial;
	font-size:11px;
	text-align:right;}

#content {width:950px;
	clear:both;
	background-color:#ffffff;}	

.linkstop {clear:both;
	border-width:1px;
	border-style:solid;
	border-color:#150185;
	border-bottom-style:none;
	font-family:Tahoma;
	font-size:13px;
	font-weight:bold;
	color:#ffffff;
	background-color:#00008b;
	text-align:left;
	margin-top:25px;
	margin-left:4px;
	margin-right:4px;
	padding:3px 3px 3px 8px;
	-moz-border-top-right-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-khtml-border-top-right-radius: 7px;
	border-top-right-radius: 7px;
	-moz-border-top-left-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	-khtml-border-top-left-radius: 7px;
	border-top-left-radius: 7px;}
.links {clear:both;
	border-width:1px;
	border-style:solid;
	border-color:#150185;
	border-top-style:none;
	font-family:Arial;
	font-size:12px;
	background-color:#dbe2e9;
	text-align:left;
	margin-left:4px;
	margin-right:4px;
	padding:8px;
	-moz-border-bottom-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-khtml-border-bottom-right-radius: 7px;
	border-bottom-right-radius: 7px;
	-moz-border-bottom-left-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-khtml-border-bottom-left-radius: 7px;
	border-bottom-left-radius: 7px;}

.redlinkstop {clear:both;
	border-width:1px;
	border-style:solid;
	border-color:#150185;
	border-bottom-style:none;
	font-family:Tahoma;
	font-size:13px;
	font-weight:bold;
	color:#ffffff;
	background-color:#954688;
	text-align:left;
	margin-top:25px;
	margin-left:4px;
	margin-right:4px;
	padding:3px 3px 3px 8px;
	-moz-border-top-right-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-khtml-border-top-right-radius: 7px;
	border-top-right-radius: 7px;
	-moz-border-top-left-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	-khtml-border-top-left-radius: 7px;
	border-top-left-radius: 7px;}
.redlinks {clear:both;
	border-width:1px;
	border-style:solid;
	border-color:#150185;
	border-top-style:none;
	font-family:Arial;
	font-size:12px;
	background-color:#fde2e0;
	text-align:left;
	margin-left:4px;
	margin-right:4px;
	padding:8px;
	-moz-border-bottom-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-khtml-border-bottom-right-radius: 7px;
	border-bottom-right-radius: 7px;
	-moz-border-bottom-left-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-khtml-border-bottom-left-radius: 7px;
	border-bottom-left-radius: 7px;}

p {font-family:Verdana;
	font-size:12px;
	text-align:left;}
.i {font-style:italic;}
.u {text-decoration:underline;}
.b {font-weight:bold;}
.ub {text-decoration:underline;
	font-weight:bold;}
.cc {font-family:Verdana;
	font-size:13px;
	vertical-align:super;
	font-weight:bold;}
.center {text-align:center;}
.figcenter {text-align:center;
	font-style:italic;}
.head {font-family:Tahoma;
	font-size:18px;
	font-weight:bold;
	color:#4682b4;
	text-align:left;}
.indent {margin-left:20px;
	text-align:justify;}
.indent1 {margin-left:40px;
	text-align:justify;}
.indent1ans {margin-left:25px;
	text-align:justify;
	color:#dc143c;}
.indent2 {margin-left:40px;
	text-align:justify;}
.indent2ans {margin-left:40px;
	text-align:justify;
	color:#dc143c;}
.mainhead {font-family:Impact;
	font-size:24px;
	color:#483d8b;
	text-align:left;}
.quizpassage {margin-left:50px;
	margin-right:50px;
	border-width:1px;
	border-style:solid;
	border-color:#00008b;
	background-color:#f5f5f5;
	padding:7px;}
.red {color:#dc143c;}
.small {font-family:Arial;
	font-size:12px;
	text-align:left;
	margin-left:20px;}
.smallhead {font-family:Arial;
	font-size:12px;
	text-align:left;
	font-weight:bold;
	margin-left:10px;}
.space {margin-top:9px;}
.symbol {font-weight:bold;}
.symbol1 {vertical-align:super;
	font-weight:bold;}
.top {font-family:Arial;
	font-size:11px;
	text-align:right;}

ol {margin-left:45px;}
ul {margin-left:15px;}
ul.eg {list-style-type:circle;
	margin-left:40px;}
li {padding:0 0 10px 0;
	text-align:justify;}

td {font-family:Verdana;
	font-size:12px;
	text-align:left;}
td.moodhd {font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
	background-color:#8387bf;
	text-align:left;}
td.moodmahd {font-family:Arial;
	font-size:12px;
	font-weight:bold;
	background-color:#faeaed;
	text-align:left;}
td.moodcahd {font-family:Arial;
	font-size:12px;
	font-weight:bold;
	background-color:#e3edea;
	text-align:left;}
td.moodma {font-family:Arial;
	font-size:12px;
	background-color:#faeaed;
	text-align:left;}
td.moodca {font-family:Arial;
	font-size:12px;
	background-color:#e3edea;
	text-align:left;}
td.themean {font-family:Verdana;
	font-size:12px;
	text-align:left;
	border-width:1px;
	border-style:solid;
	border-color:#00008b;
	background-color:#e6e6e6;}
td.md {font-family:Verdana;
	font-size:12px;
	background-color:#dadef9;
	text-align:left;
	border-width:1px;
	border-style:solid;
	border-color:#00008b;}
td.res {font-family:Verdana;
	font-size:12px;
	background-color:#edd0d5;
	text-align:left;
	border-width:1px;
	border-style:solid;
	border-color:#00008b;}
td.trans3 {font-family:Verdana;
	font-size:12px;
	background-color:#e0e6f9;
	text-align:left;
	border-width:1px;
	border-style:solid;
	border-color:#00008b;}
td.theme1 {font-family:Verdana;
	font-size:12px;
	background:#fffafa;
	text-align:left;
	border-width:1px;
	border-style:solid;
	border-color:#a59290;}
td.theme11 {font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	background:#fffafa;
	text-align:left;
	border-width:1px;
	border-style:solid;
	border-color:#a59290;}
td.theme2 {font-family:Verdana;
	font-size:12px;
	background:#e6e6fa;
	text-align:left;
	border-width:1px;
	border-style:solid;
	border-color:#00008b;}
td.theme22 {font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	background:#e6e6fa;
	text-align:left;
	border-width:1px;
	border-style:solid;
	border-color:#00008b;}
td.theme3 {font-family:Verdana;
	font-size:12px;
	background:#fff0f5;
	text-align:left;
	border-width:1px;
	border-style:solid;
	border-color:#b25771;}
td.theme33 {font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	background:#fff0f5;
	text-align:left;
	border-width:1px;
	border-style:solid;
	border-color:#b25771;}

.handcursor {cursor:hand;
	cursor:pointer;
	margin-left:20px;
	font-family:Verdana;
	font-size:12px;
	color:#00008b;
	font-weight:bold;}

.handcursor1 {cursor:hand;
	cursor:pointer;
	font-family:Verdana;
	font-size:12px;
	color:#00008b;
	font-weight:bold;}

.switchgroup1 {margin-left:40px;
	margin-top:10px;
	font-family:Arial;
	font-size:12px;
	text-align:justify;
	width:500px;}
