html {overflow:scroll;
   overflow-y:scroll;}

a {text-decoration:none;
	font-weight:bold;color:#b22222;}
a:hover {background:#ffe4e1;}
body {font-family:Verdana;
	width:800px;
	font-size:12px;
	background-color:#ffffff;
	margin-left:auto;
	margin-right:auto;}
td {font-family:Verdana;
	font-size:12px;}
td.eghead {font-family:Arial;
	font-size:12px;
	font-weight:bold;}
td.eg {font-family:Arial;
	font-size:12px;}
p {font-family:Verdana;
	font-size:12px;
	text-align:justify;}
p.center {text-align:center;}
p.indent {margin-left:22px;
	text-align:justify;}
p.indent2 {margin-left:44px;
	text-align:justify;}
p.mainhead {font-family:Impact;
	font-size:22px;
	color:#483d8b;
	text-align:center;}
p.subhead1 {font-family:Verdana;
	font-size:16px;
	font-weight:bold;
	text-align:center;}
p.subhead {font-family:Verdana;
	font-size:16px;
	font-weight:bold;}
p.figcenter {text-align:center;
	text-decoration:underline;}
p.refhead {font-family:Arial;
	font-size:12px;
	font-weight:bold;}

li {text-align:justify;}

.ref {font-family:Arial;
	font-size:14px;}
.b {font-weight:bold;}
.i {font-style:italic;}
.bi {font-style:italic;font-weight:bold;}
.u {text-decoration:underline;}
.ueg {font-family:Arial;
	font-size:12px;
	text-decoration:underline;}
.beg {font-family:Arial;
	font-size:12px;
	font-weight:bold;}
.ieg {font-family:Arial;
	font-style:12px;
	font-style:italic;}
.iref {font-family:Arial;
	font-style:12px;
	font-style:italic;}
.normal {font-family:Verdana;
	font-size:12px;
	font-weight:normal;
	text-align:justify;}
